/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.heapy.argo.client.apis

import io.heapy.argo.client.models.ArgoEventsSensor
import io.heapy.argo.client.models.ArgoEventsSensorList
import io.heapy.argo.client.models.GrpcgatewayruntimeError
import io.heapy.argo.client.models.SensorCreateSensorRequest
import io.heapy.argo.client.models.SensorUpdateSensorRequest
import io.heapy.argo.client.models.StreamResultOfSensorLogEntry
import io.heapy.argo.client.models.StreamResultOfSensorSensorWatchEvent

import io.heapy.argo.client.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class SensorServiceApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * 
        * 
         * @param namespace  
         * @param body  
         * @return ArgoEventsSensor
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun sensorServiceCreateSensor(namespace: kotlin.String, body: SensorCreateSensorRequest): HttpResponse<ArgoEventsSensor> {

            val localVariableAuthNames = listOf<String>("BearerToken")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/sensors/{namespace}".replace("{" + "namespace" + "}", "$namespace"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * 
        * 
         * @param namespace  
         * @param name  
         * @param deleteOptionsGracePeriodSeconds The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately. +optional. (optional)
         * @param deleteOptionsPreconditionsUid Specifies the target UID. +optional. (optional)
         * @param deleteOptionsPreconditionsResourceVersion Specifies the target ResourceVersion +optional. (optional)
         * @param deleteOptionsOrphanDependents Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \&quot;orphan\&quot; finalizer will be added to/removed from the object&#39;s finalizers list. Either this field or PropagationPolicy may be set, but not both. +optional. (optional)
         * @param deleteOptionsPropagationPolicy Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: &#39;Orphan&#39; - orphan the dependents; &#39;Background&#39; - allow the garbage collector to delete the dependents in the background; &#39;Foreground&#39; - a cascading policy that deletes all dependents in the foreground. +optional. (optional)
         * @param deleteOptionsDryRun When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed +optional +listType&#x3D;atomic. (optional)
         * @param deleteOptionsIgnoreStoreReadErrorWithClusterBreakingPotential if set to true, it will trigger an unsafe deletion of the resource in case the normal deletion flow fails with a corrupt object error. A resource is considered corrupt if it can not be retrieved from the underlying storage successfully because of a) its data can not be transformed e.g. decryption failure, or b) it fails to decode into an object. NOTE: unsafe deletion ignores finalizer constraints, skips precondition checks, and removes the object from the storage. WARNING: This may potentially break the cluster if the workload associated with the resource being unsafe-deleted relies on normal deletion flow. Use only if you REALLY know what you are doing. The default value is false, and the user must opt in to enable it +optional. (optional)
         * @return kotlin.Any
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun sensorServiceDeleteSensor(namespace: kotlin.String, name: kotlin.String, deleteOptionsGracePeriodSeconds: kotlin.String?, deleteOptionsPreconditionsUid: kotlin.String?, deleteOptionsPreconditionsResourceVersion: kotlin.String?, deleteOptionsOrphanDependents: kotlin.Boolean?, deleteOptionsPropagationPolicy: kotlin.String?, deleteOptionsDryRun: kotlin.collections.List<kotlin.String>?, deleteOptionsIgnoreStoreReadErrorWithClusterBreakingPotential: kotlin.Boolean?): HttpResponse<kotlin.Any> {

            val localVariableAuthNames = listOf<String>("BearerToken")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            deleteOptionsGracePeriodSeconds?.apply { localVariableQuery["deleteOptions.gracePeriodSeconds"] = listOf("$deleteOptionsGracePeriodSeconds") }
            deleteOptionsPreconditionsUid?.apply { localVariableQuery["deleteOptions.preconditions.uid"] = listOf("$deleteOptionsPreconditionsUid") }
            deleteOptionsPreconditionsResourceVersion?.apply { localVariableQuery["deleteOptions.preconditions.resourceVersion"] = listOf("$deleteOptionsPreconditionsResourceVersion") }
            deleteOptionsOrphanDependents?.apply { localVariableQuery["deleteOptions.orphanDependents"] = listOf("$deleteOptionsOrphanDependents") }
            deleteOptionsPropagationPolicy?.apply { localVariableQuery["deleteOptions.propagationPolicy"] = listOf("$deleteOptionsPropagationPolicy") }
            deleteOptionsDryRun?.apply { localVariableQuery["deleteOptions.dryRun"] = toMultiValue(this, "multi") }
            deleteOptionsIgnoreStoreReadErrorWithClusterBreakingPotential?.apply { localVariableQuery["deleteOptions.ignoreStoreReadErrorWithClusterBreakingPotential"] = listOf("$deleteOptionsIgnoreStoreReadErrorWithClusterBreakingPotential") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/sensors/{namespace}/{name}".replace("{" + "namespace" + "}", "$namespace").replace("{" + "name" + "}", "$name"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * 
        * 
         * @param namespace  
         * @param name  
         * @param getOptionsResourceVersion resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional (optional)
         * @return ArgoEventsSensor
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun sensorServiceGetSensor(namespace: kotlin.String, name: kotlin.String, getOptionsResourceVersion: kotlin.String?): HttpResponse<ArgoEventsSensor> {

            val localVariableAuthNames = listOf<String>("BearerToken")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            getOptionsResourceVersion?.apply { localVariableQuery["getOptions.resourceVersion"] = listOf("$getOptionsResourceVersion") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/sensors/{namespace}/{name}".replace("{" + "namespace" + "}", "$namespace").replace("{" + "name" + "}", "$name"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * 
        * 
         * @param namespace  
         * @param listOptionsLabelSelector A selector to restrict the list of returned objects by their labels. Defaults to everything. +optional. (optional)
         * @param listOptionsFieldSelector A selector to restrict the list of returned objects by their fields. Defaults to everything. +optional. (optional)
         * @param listOptionsWatch Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion. +optional. (optional)
         * @param listOptionsAllowWatchBookmarks allowWatchBookmarks requests watch events with type \&quot;BOOKMARK\&quot;. Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server&#39;s discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored. +optional. (optional)
         * @param listOptionsResourceVersion resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional (optional)
         * @param listOptionsResourceVersionMatch resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional (optional)
         * @param listOptionsTimeoutSeconds Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity. +optional. (optional)
         * @param listOptionsLimit limit is a maximum number of responses to return for a list call. If more items exist, the server will set the &#x60;continue&#x60; field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.  The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned. (optional)
         * @param listOptionsContinue The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \&quot;next key\&quot;.  This field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications. (optional)
         * @param listOptionsSendInitialEvents &#x60;sendInitialEvents&#x3D;true&#x60; may be set together with &#x60;watch&#x3D;true&#x60;. In that case, the watch stream will begin with synthetic events to produce the current state of objects in the collection. Once all such events have been sent, a synthetic \&quot;Bookmark\&quot; event  will be sent. The bookmark will report the ResourceVersion (RV) corresponding to the set of objects, and be marked with &#x60;\&quot;io.k8s.initial-events-end\&quot;: \&quot;true\&quot;&#x60; annotation. Afterwards, the watch stream will proceed as usual, sending watch events corresponding to changes (subsequent to the RV) to objects watched.  When &#x60;sendInitialEvents&#x60; option is set, we require &#x60;resourceVersionMatch&#x60; option to also be set. The semantic of the watch request is as following: - &#x60;resourceVersionMatch&#x60; &#x3D; NotOlderThan   is interpreted as \&quot;data at least as new as the provided &#x60;resourceVersion&#x60;\&quot;   and the bookmark event is send when the state is synced   to a &#x60;resourceVersion&#x60; at least as fresh as the one provided by the ListOptions.   If &#x60;resourceVersion&#x60; is unset, this is interpreted as \&quot;consistent read\&quot; and the   bookmark event is send when the state is synced at least to the moment   when request started being processed. - &#x60;resourceVersionMatch&#x60; set to any other value or unset   Invalid error is returned.  Defaults to true if &#x60;resourceVersion&#x3D;\&quot;\&quot;&#x60; or &#x60;resourceVersion&#x3D;\&quot;0\&quot;&#x60; (for backward compatibility reasons) and to false otherwise. +optional (optional)
         * @return ArgoEventsSensorList
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun sensorServiceListSensors(namespace: kotlin.String, listOptionsLabelSelector: kotlin.String?, listOptionsFieldSelector: kotlin.String?, listOptionsWatch: kotlin.Boolean?, listOptionsAllowWatchBookmarks: kotlin.Boolean?, listOptionsResourceVersion: kotlin.String?, listOptionsResourceVersionMatch: kotlin.String?, listOptionsTimeoutSeconds: kotlin.String?, listOptionsLimit: kotlin.String?, listOptionsContinue: kotlin.String?, listOptionsSendInitialEvents: kotlin.Boolean?): HttpResponse<ArgoEventsSensorList> {

            val localVariableAuthNames = listOf<String>("BearerToken")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            listOptionsLabelSelector?.apply { localVariableQuery["listOptions.labelSelector"] = listOf("$listOptionsLabelSelector") }
            listOptionsFieldSelector?.apply { localVariableQuery["listOptions.fieldSelector"] = listOf("$listOptionsFieldSelector") }
            listOptionsWatch?.apply { localVariableQuery["listOptions.watch"] = listOf("$listOptionsWatch") }
            listOptionsAllowWatchBookmarks?.apply { localVariableQuery["listOptions.allowWatchBookmarks"] = listOf("$listOptionsAllowWatchBookmarks") }
            listOptionsResourceVersion?.apply { localVariableQuery["listOptions.resourceVersion"] = listOf("$listOptionsResourceVersion") }
            listOptionsResourceVersionMatch?.apply { localVariableQuery["listOptions.resourceVersionMatch"] = listOf("$listOptionsResourceVersionMatch") }
            listOptionsTimeoutSeconds?.apply { localVariableQuery["listOptions.timeoutSeconds"] = listOf("$listOptionsTimeoutSeconds") }
            listOptionsLimit?.apply { localVariableQuery["listOptions.limit"] = listOf("$listOptionsLimit") }
            listOptionsContinue?.apply { localVariableQuery["listOptions.continue"] = listOf("$listOptionsContinue") }
            listOptionsSendInitialEvents?.apply { localVariableQuery["listOptions.sendInitialEvents"] = listOf("$listOptionsSendInitialEvents") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/sensors/{namespace}".replace("{" + "namespace" + "}", "$namespace"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * 
        * 
         * @param namespace  
         * @param name optional - only return entries for this sensor name. (optional)
         * @param triggerName optional - only return entries for this trigger. (optional)
         * @param grep option - only return entries where &#x60;msg&#x60; contains this regular expressions. (optional)
         * @param podLogOptionsContainer The container for which to stream logs. Defaults to only container if there is one container in the pod. +optional. (optional)
         * @param podLogOptionsFollow Follow the log stream of the pod. Defaults to false. +optional. (optional)
         * @param podLogOptionsPrevious Return previous terminated container logs. Defaults to false. +optional. (optional)
         * @param podLogOptionsSinceSeconds A relative time in seconds before the current time from which to show logs. If this value precedes the time a pod was started, only logs since the pod start will be returned. If this value is in the future, no logs will be returned. Only one of sinceSeconds or sinceTime may be specified. +optional. (optional)
         * @param podLogOptionsSinceTimeSeconds Represents seconds of UTC time since Unix epoch 1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59Z inclusive. (optional)
         * @param podLogOptionsSinceTimeNanos Non-negative fractions of a second at nanosecond resolution. Negative second values with fractions must still have non-negative nanos values that count forward in time. Must be from 0 to 999,999,999 inclusive. This field may be limited in precision depending on context. (optional)
         * @param podLogOptionsTimestamps If true, add an RFC3339 or RFC3339Nano timestamp at the beginning of every line of log output. Defaults to false. +optional. (optional)
         * @param podLogOptionsTailLines If set, the number of lines from the end of the logs to show. If not specified, logs are shown from the creation of the container or sinceSeconds or sinceTime. Note that when \&quot;TailLines\&quot; is specified, \&quot;Stream\&quot; can only be set to nil or \&quot;All\&quot;. +optional. (optional)
         * @param podLogOptionsLimitBytes If set, the number of bytes to read from the server before terminating the log output. This may not display a complete final line of logging, and may return slightly more or slightly less than the specified limit. +optional. (optional)
         * @param podLogOptionsInsecureSkipTLSVerifyBackend insecureSkipTLSVerifyBackend indicates that the apiserver should not confirm the validity of the serving certificate of the backend it is connecting to.  This will make the HTTPS connection between the apiserver and the backend insecure. This means the apiserver cannot verify the log data it is receiving came from the real kubelet.  If the kubelet is configured to verify the apiserver&#39;s TLS credentials, it does not mean the connection to the real kubelet is vulnerable to a man in the middle attack (e.g. an attacker could not intercept the actual log data coming from the real kubelet). +optional. (optional)
         * @param podLogOptionsStream Specify which container log stream to return to the client. Acceptable values are \&quot;All\&quot;, \&quot;Stdout\&quot; and \&quot;Stderr\&quot;. If not specified, \&quot;All\&quot; is used, and both stdout and stderr are returned interleaved. Note that when \&quot;TailLines\&quot; is specified, \&quot;Stream\&quot; can only be set to nil or \&quot;All\&quot;. +featureGate&#x3D;PodLogsQuerySplitStreams +optional. (optional)
         * @return StreamResultOfSensorLogEntry
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun sensorServiceSensorsLogs(namespace: kotlin.String, name: kotlin.String?, triggerName: kotlin.String?, grep: kotlin.String?, podLogOptionsContainer: kotlin.String?, podLogOptionsFollow: kotlin.Boolean?, podLogOptionsPrevious: kotlin.Boolean?, podLogOptionsSinceSeconds: kotlin.String?, podLogOptionsSinceTimeSeconds: kotlin.String?, podLogOptionsSinceTimeNanos: kotlin.Int?, podLogOptionsTimestamps: kotlin.Boolean?, podLogOptionsTailLines: kotlin.String?, podLogOptionsLimitBytes: kotlin.String?, podLogOptionsInsecureSkipTLSVerifyBackend: kotlin.Boolean?, podLogOptionsStream: kotlin.String?): HttpResponse<StreamResultOfSensorLogEntry> {

            val localVariableAuthNames = listOf<String>("BearerToken")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            name?.apply { localVariableQuery["name"] = listOf("$name") }
            triggerName?.apply { localVariableQuery["triggerName"] = listOf("$triggerName") }
            grep?.apply { localVariableQuery["grep"] = listOf("$grep") }
            podLogOptionsContainer?.apply { localVariableQuery["podLogOptions.container"] = listOf("$podLogOptionsContainer") }
            podLogOptionsFollow?.apply { localVariableQuery["podLogOptions.follow"] = listOf("$podLogOptionsFollow") }
            podLogOptionsPrevious?.apply { localVariableQuery["podLogOptions.previous"] = listOf("$podLogOptionsPrevious") }
            podLogOptionsSinceSeconds?.apply { localVariableQuery["podLogOptions.sinceSeconds"] = listOf("$podLogOptionsSinceSeconds") }
            podLogOptionsSinceTimeSeconds?.apply { localVariableQuery["podLogOptions.sinceTime.seconds"] = listOf("$podLogOptionsSinceTimeSeconds") }
            podLogOptionsSinceTimeNanos?.apply { localVariableQuery["podLogOptions.sinceTime.nanos"] = listOf("$podLogOptionsSinceTimeNanos") }
            podLogOptionsTimestamps?.apply { localVariableQuery["podLogOptions.timestamps"] = listOf("$podLogOptionsTimestamps") }
            podLogOptionsTailLines?.apply { localVariableQuery["podLogOptions.tailLines"] = listOf("$podLogOptionsTailLines") }
            podLogOptionsLimitBytes?.apply { localVariableQuery["podLogOptions.limitBytes"] = listOf("$podLogOptionsLimitBytes") }
            podLogOptionsInsecureSkipTLSVerifyBackend?.apply { localVariableQuery["podLogOptions.insecureSkipTLSVerifyBackend"] = listOf("$podLogOptionsInsecureSkipTLSVerifyBackend") }
            podLogOptionsStream?.apply { localVariableQuery["podLogOptions.stream"] = listOf("$podLogOptionsStream") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/stream/sensors/{namespace}/logs".replace("{" + "namespace" + "}", "$namespace"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * 
        * 
         * @param namespace  
         * @param name  
         * @param body  
         * @return ArgoEventsSensor
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun sensorServiceUpdateSensor(namespace: kotlin.String, name: kotlin.String, body: SensorUpdateSensorRequest): HttpResponse<ArgoEventsSensor> {

            val localVariableAuthNames = listOf<String>("BearerToken")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/sensors/{namespace}/{name}".replace("{" + "namespace" + "}", "$namespace").replace("{" + "name" + "}", "$name"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * 
        * 
         * @param namespace  
         * @param listOptionsLabelSelector A selector to restrict the list of returned objects by their labels. Defaults to everything. +optional. (optional)
         * @param listOptionsFieldSelector A selector to restrict the list of returned objects by their fields. Defaults to everything. +optional. (optional)
         * @param listOptionsWatch Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion. +optional. (optional)
         * @param listOptionsAllowWatchBookmarks allowWatchBookmarks requests watch events with type \&quot;BOOKMARK\&quot;. Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server&#39;s discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored. +optional. (optional)
         * @param listOptionsResourceVersion resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional (optional)
         * @param listOptionsResourceVersionMatch resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional (optional)
         * @param listOptionsTimeoutSeconds Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity. +optional. (optional)
         * @param listOptionsLimit limit is a maximum number of responses to return for a list call. If more items exist, the server will set the &#x60;continue&#x60; field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.  The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned. (optional)
         * @param listOptionsContinue The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \&quot;next key\&quot;.  This field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications. (optional)
         * @param listOptionsSendInitialEvents &#x60;sendInitialEvents&#x3D;true&#x60; may be set together with &#x60;watch&#x3D;true&#x60;. In that case, the watch stream will begin with synthetic events to produce the current state of objects in the collection. Once all such events have been sent, a synthetic \&quot;Bookmark\&quot; event  will be sent. The bookmark will report the ResourceVersion (RV) corresponding to the set of objects, and be marked with &#x60;\&quot;io.k8s.initial-events-end\&quot;: \&quot;true\&quot;&#x60; annotation. Afterwards, the watch stream will proceed as usual, sending watch events corresponding to changes (subsequent to the RV) to objects watched.  When &#x60;sendInitialEvents&#x60; option is set, we require &#x60;resourceVersionMatch&#x60; option to also be set. The semantic of the watch request is as following: - &#x60;resourceVersionMatch&#x60; &#x3D; NotOlderThan   is interpreted as \&quot;data at least as new as the provided &#x60;resourceVersion&#x60;\&quot;   and the bookmark event is send when the state is synced   to a &#x60;resourceVersion&#x60; at least as fresh as the one provided by the ListOptions.   If &#x60;resourceVersion&#x60; is unset, this is interpreted as \&quot;consistent read\&quot; and the   bookmark event is send when the state is synced at least to the moment   when request started being processed. - &#x60;resourceVersionMatch&#x60; set to any other value or unset   Invalid error is returned.  Defaults to true if &#x60;resourceVersion&#x3D;\&quot;\&quot;&#x60; or &#x60;resourceVersion&#x3D;\&quot;0\&quot;&#x60; (for backward compatibility reasons) and to false otherwise. +optional (optional)
         * @return StreamResultOfSensorSensorWatchEvent
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun sensorServiceWatchSensors(namespace: kotlin.String, listOptionsLabelSelector: kotlin.String?, listOptionsFieldSelector: kotlin.String?, listOptionsWatch: kotlin.Boolean?, listOptionsAllowWatchBookmarks: kotlin.Boolean?, listOptionsResourceVersion: kotlin.String?, listOptionsResourceVersionMatch: kotlin.String?, listOptionsTimeoutSeconds: kotlin.String?, listOptionsLimit: kotlin.String?, listOptionsContinue: kotlin.String?, listOptionsSendInitialEvents: kotlin.Boolean?): HttpResponse<StreamResultOfSensorSensorWatchEvent> {

            val localVariableAuthNames = listOf<String>("BearerToken")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            listOptionsLabelSelector?.apply { localVariableQuery["listOptions.labelSelector"] = listOf("$listOptionsLabelSelector") }
            listOptionsFieldSelector?.apply { localVariableQuery["listOptions.fieldSelector"] = listOf("$listOptionsFieldSelector") }
            listOptionsWatch?.apply { localVariableQuery["listOptions.watch"] = listOf("$listOptionsWatch") }
            listOptionsAllowWatchBookmarks?.apply { localVariableQuery["listOptions.allowWatchBookmarks"] = listOf("$listOptionsAllowWatchBookmarks") }
            listOptionsResourceVersion?.apply { localVariableQuery["listOptions.resourceVersion"] = listOf("$listOptionsResourceVersion") }
            listOptionsResourceVersionMatch?.apply { localVariableQuery["listOptions.resourceVersionMatch"] = listOf("$listOptionsResourceVersionMatch") }
            listOptionsTimeoutSeconds?.apply { localVariableQuery["listOptions.timeoutSeconds"] = listOf("$listOptionsTimeoutSeconds") }
            listOptionsLimit?.apply { localVariableQuery["listOptions.limit"] = listOf("$listOptionsLimit") }
            listOptionsContinue?.apply { localVariableQuery["listOptions.continue"] = listOf("$listOptionsContinue") }
            listOptionsSendInitialEvents?.apply { localVariableQuery["listOptions.sendInitialEvents"] = listOf("$listOptionsSendInitialEvents") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/stream/sensors/{namespace}".replace("{" + "namespace" + "}", "$namespace"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
